.bra2 {
    padding: 30px;
    border-bottom: 1px solid #19d800;
}

.bra2 h3 {
    font-size: 30px;
    color: #19d800;
    padding-bottom: 15px;
}

.bra2 p {
    font-size: 20px;
    color: #19d800;
}