.bra3 {
    padding: 30px;
    border-bottom: 1px solid #00cad8;
}

.bra3 h3 {
    font-size: 30px;
    color: #00cad8;
    padding-bottom: 15px;
}

.bra3 p {
    font-size: 20px;
    color: #00cad8;
}