.bra4 {
    padding: 30px;
    border-bottom: 1px solid #5213ff;
}

.bra4 h3 {
    font-size: 30px;
    color: #5213ff;
    padding-bottom: 15px;
}

.bra4 p {
    font-size: 20px;
    color: #5213ff;
}