.bra5 {
    padding: 30px;
    border-bottom: 1px solid #ff1375;
}

.bra5 h3 {
    font-size: 30px;
    color: #ff1375;
    padding-bottom: 15px;
}

.bra5 p {
    font-size: 20px;
    color: #ff1375;
}