* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
}

.header {
    background: #cfe1f3;
}

.header h1 {
    font-size: 80px;
    color: #08c1ce;
    padding-bottom: 15px;
}

.header h2 {
    font-size: 40px;
    color: green;
    padding-bottom: 15px;
}